8grid-container {
display: grid;
grid-template-columns: repeat(12, 1fr);
gap: 10px;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #03055B;
  color: #fff;
  padding: 20px;
  align-items: center;
}

header img {
  grid-column: 1;
  width: 100px;
  height: auto;
  margin-left: 20px;
}

nav {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.hero-section {
  grid-column: 1 / 13;
  background-image: url('images/hero.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero-section h2 {
  font-size: 48px;
}

.hero-section p {
  font-size: 24px;
}


.grid-item--3 {
grid-column: 1 / 13;
padding: 20px;
display: grid;
grid-template-columns: 1fr 3fr;
gap: 20px;
}

.employee-card {
display: flex;
flex-direction: row;
align-items: center;
}

.employee-card img {
width: 100%;
height: 150px;
object-fit: cover;
border-radius: 50%;
}

.employee-description {
background-color: #FFC5C5; 
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

.employee-description p {
text-align: left;
color: #333;
}

footer {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
background-color: #03055B;
color: #fff;
padding: 20px;
align-items: center;
}
.social-links {
grid-column: 1;
display: flex;
justify-content: space-between;
width: 100px;
}

.social-links img {
width: 20px;
height: 20px;
margin-right: 10px;
}

.wireframe-link {
grid-column: 2;
text-align: center;
}

.copyright {
grid-column: 3;
text-align: left;
margin-right: 20px;
}
