.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 1.1fr 2.3fr 0.3fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Header Header" "Hero image Hero image" "Main Main" "Footer Footer";
}

.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Logo Nav Nav Nav";
  grid-area: Header;
}

.Logo {
  grid-area: Logo;
}

.Nav {
  grid-area: Nav;
}

.Hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.9fr 2.2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . Title Title . ." ". Description Description Description Description ." ". . . . . .";
  grid-area: Hero image;
}

.Title {
  grid-area: Title;
}

.Description {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.2fr;
  grid-template-rows: 0.5fr 2.3fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". . ." ". . Image2" ". . .";
  grid-area: Description;
}

.Image2 {
  grid-area: Image2;
}

.Main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.4fr 1.5fr 1.6fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Employee image1 Employee description 1 Employee description 1 Employee description 1" "Employee image2 Employee description2 Employee description2 Employee description2" "Employee image3 Employee description3 Employee description3 Employee description3" ". . Map Map";
  grid-area: Main;
}

.Employee {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Image Description";
}

.Employee image1 {
  grid-area: Employee image1;
}

.Employee description 1 {
  grid-area: Employee description 1;
}

.Employee image2 {
  grid-area: Employee image2;
}

.Employee description2 {
  grid-area: Employee description2;
}

.Employee image3 {
  grid-area: Employee image3;
}

.Employee description3 {
  grid-area: Employee description3;
}

.Map {
  grid-area: Map;
}

.Contact {
  grid-area: Contact;
}

.Footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Copyright Wireframe link Social links";
  grid-area: Footer;
}

.Social {
  grid-area: Social links;
}

.Wireframe {
  grid-area: Wireframe link;
}

.Copyright {
  grid-area: Copyright;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}
