:root {
  --primary-color: #8EE3EF;
  --accent1-color: #254E70;
  --accent2-color: #37718E;
}

body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

header {
  background-color: var(--accent1-color);
  color: #fff;
  padding: 1em;
  text-align: center;
  position: relative;
}

header nav {
  display: block;
  padding: 1em;
  background-color: var(--accent1-color);
  color: #fff;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 20px 0 0;
  float: left

. gallery -image { 
   width: 400px;
   height: 150px;
   object -fit: cover;
  margin: 10px;
}
